<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main id="app" class="app">
        <div class="container">
            <section class="welcome">
                Welcome {{ user }}
                <div class="cart" v-if="cart.length > 0">
                    <span class="cart-icon">🛒</span>
                    <span> {{ cart.length }} </span>
                </div>
            </section>
            <ul class="fruit-list">
                <template v-for="item in fruits">
                    <li v-if="item.qty > 0" class="fruit">
                        <div class="fruit-name">
                            {{ item.emoji }}
                        </div>
                        <div class="fruit-footer">
                            <span class="fruit-qty">
                                Stock: {{ item.qty }}
                            </span>
                            <span class="fruit-button">
                                <button v-on:click="addToCart(item)">Add to Cart</button>
                            </span>
                        </div>
                    </li>
                </template>
            </ul>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>