* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1;
}

ul {
    list-style: none;
}

.app {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 24px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fruit {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 3px 4px 0px rgba(0, 0, 0, .35);
    margin: 40px 0;
}

.fruit-name {
    font-size: 56px;
    padding: 72px;
    border-bottom: 2px solid rgba(220, 20, 0, 0.25 )
}

.fruit-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.fruit-button button {
    font-size: 16px;
    border: 0;
    background-color: mediumslateblue;
    padding: 10px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.fruit-button button:hover {
    background-color: mediumpurple;
}

.fruit-button button:active {
    background-color: darkslateblue;
}