<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Vue</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <main id="app" class="app">
        <div class="container">
            <section class="welcome">
                <welcome v-bind:name='user'></welcome>
                <div class="cart" v-if="cart.length > 0">
                    <span class="cart-icon">🛒</span>
                    <span> {{ cart.length }} </span>
                </div>
            </section>
            <ul class="fruit-list">
                <fruit v-for="fruit in fruits" v-bind:item='fruit' v-on:add-item="addToCart"></fruit>
            </ul>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>